<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAVIGATION BAR -- - -- - - - - </key>
	<string></string>
	<key>NavBarColor</key>
	<string>#FFFFFF</string>
	<key>NavBarTextMessage</key>
	<string>Refer your friends</string>
	<key>NavBarTextColor</key>
	<string>#000000</string>
	<key>NavBarTextFont</key>
	<string>Helvetica, 20</string>
	<key>UseDarkStatusBarTheme</key>
	<true/>
	<key>RAF PAGE ------------------------</key>
	<string></string>
	<key>RAFBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>RAFLogo</key>
	<string></string>
	<key>SHARE URL FIELD ----------------</key>
	<string></string>
	<key>ShareFieldBackgroundColor</key>
	<string>#F4F4F4</string>
	<key>ShareFieldHeight</key>
	<integer>35</integer>
	<key>ShareFieldTextColor</key>
	<string>#000000</string>
	<key>ShareFieldTextFont</key>
	<string>HelveticaNeue, 15</string>
	<key>ShareFieldCornerRadius</key>
	<integer>0</integer>
	<key>RAF WELCOME LABEL ----------</key>
	<string></string>
	<key>RAFWelcomeTextMessage</key>
	<string>Spread the word</string>
	<key>RAFWelcomeTextColor</key>
	<string>#000000</string>
	<key>RAFWelcomeTextFont</key>
	<string>HelveticaNeue, 22</string>
	<key>RAF DESCRIPTION LABEL ------</key>
	<string></string>
	<key>RAFDescriptionTextMessage</key>
	<string>Refer a friend to get rewards</string>
	<key>RAFDescriptionTextColor</key>
	<string>#C9C9C9</string>
	<key>RAFDescriptionTextFont</key>
	<string>HelveticaNeue, 18</string>
	<key>DefaultShareMessage</key>
	<string>I&apos;m a fan of this company, check them out!</string>
	<key>CONTACT SEND BUTTON ---------</key>
	<string></string>
	<key>ContactSendButtonBackgroundColor</key>
	<string>#4199D1</string>
	<key>ContactSendButtonTextColor</key>
	<string>#FFFFFF</string>
	<key>ContactSendButtonTextFont</key>
	<string>HelveticaNeue, 16</string>
	<key>CONTACT SEARCH BAR ----------</key>
	<string></string>
	<key>ContactSearchBackgroundColor</key>
	<string>#DEDEDE</string>
	<key>ContactSearchDoneButtonTextColor</key>
	<string>#979797</string>
	<key>CONTACT TABLEVIEW ------------</key>
	<string></string>
	<key>ContactTableBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>ContactTableCheckMarkColor</key>
	<string>#4199D1</string>
	<key>ContactTableNameTextFont</key>
	<string>Helvetica, 17</string>
	<key>ContactTableNameTextColor</key>
	<string>#000000</string>
	<key>ContactTableInfoTextFont</key>
	<string>Helvetica, 13</string>
	<key>ContactTableInfoTextColor</key>
	<string>#C9C9C9</string>
	<key>ContactAvatarBackgroundColor</key>
	<string>#4199D1</string>
	<key>ContactAvatarColor</key>
	<string>#FFFFFF</string>
	<key>ALERT BUTTON ---------</key>
	<string></string>
	<key>AlertButtonBackgroundColor</key>
	<string>#4199D1</string>
	<key>AlertButtonTextColor</key>
	<string>#FFFFFF</string>
	<key>SOCIAL SHARE GRID ------------</key>
	<string></string>
	<key>Channels</key>
	<string>Facebook, Twitter, LinkedIn, SMS, Email</string>
	<key>LANDING PAGE SETTINGS ------------</key>
	<string></string>
	<key>LandingPageMessage</key>
	<string>Thank you for downloading our app!</string>
	<key>LandingPageBackgroundColor</key>
	<string>#FFFFFF</string>
	<key>LandingPageMinimumSeconds</key>
	<integer>2</integer>
</dict>
</plist>
